<div class="container-fluid">
    <div class="row">
        <div class="footer clearfix">
            <div class="footer-text clearfix">
                <h2 class="footer_logo">
                    <span class="logo_mav">MAV</span><span class="logo_ent">ENT</span>
                </h2>
                <p>Торговая марка «MAVENT»
                    © 2013-2017 Все права защищены законом.</p>
                    <div style="text-align: center;">
                    <ul class="footer-social">
                        <li><a href="#"><img src="../../../assets/images/vk.png"/></a></li>
                        <li><a href="#"><img src="../../../assets/images/fb.png"/></a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>