<div class="container">
  <div class="row">
      <div class="object clearfix">
          <div class="our-object">
              <div class="our-object-text">
                  <img src="../../../assets/images/our-object-icon.png"/>
                  <h2>{{data?.title}}</h2>
                  <p>{{data?.description}}</p>
              </div>
              <div class="our-information clearfix">
                <app-quality></app-quality> <!--quality Component-->
              </div>
          </div> 
      </div> 
  </div> 
</div> 


